---
import { Icon } from 'astro-icon';
import Layout from '../layout/Layout.astro';
---

<Layout title="Billy Hawkes">
	<main
	class="min-h-screen bg-zinc-900 w-screen flex flex-col gap-8 justify-center items-center text-white"
>
	<h1 class="text-5xl sm:text-6xl font-medium">Billy Hawkes</h1>
	<div class="h-1 rounded w-20 bg-white"></div>
	<div class="flex flex-col items-center gap-2">
		<p class="text-gray-400 text-sm tracking-wider">SOCIALS</p>
		<div class="flex gap-4">
			<a
				href={`${import.meta.env.PUBLIC_GITHUB}`}
				target="_blank"
			>
				<Icon name="mdi:github" size={40} />
			</a>
			<a
				href={`${import.meta.env.PUBLIC_TWITTER}`}
				target="_blank"
			>
				<Icon name="mdi:twitter" size={40} />
			</a>
			<a
				href={`${import.meta.env.PUBLIC_LINKEDIN}`}
				target="_blank"
			>
				<Icon name="mdi:linkedin" size={40} />
			</a>
		</div>
	</div>
</main>
</Layout>