---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Billy Hawkes">
  <main
    class="min-h-screen bg-gray-900 w-screen flex flex-col justify-center items-center text-white p-8"
  >
    <h1 class="text-4xl mb-20">Billy Hawkes</h1>
    <Project
      href="https://www.drunkknight.live/"
      title="Drunk Knight"
      body="Online drinking game for friends. Create and customize your own cards. Flip and follow what is on the card."
    />
  </main>
</Layout>
