---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<a
  href={href}
  class="p-8 bg-slate-800 rounded hover:opacity-90 transition-colors"
  target="_blank"
>
  <h2 class="text-2xl mb-4">
    {title}
  </h2>
  <p class="opacity-70">
    {body}
  </p>
</a>
